<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <b>Users</b>
  </div>

  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Full name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Credit</th>
          <th colspan="4" width="10%">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.address %></td>
            <td><%= number_to_currency(user.credit, unit: "Rp. ", delimiter: ".", separator: ",") %></td>
            <td><%= link_to 'Show', user, class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Top Up', topup_user_path(user), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New User', new_user_path, class: 'btn btn-primary btn-sm' %>

  </div>
</div>
