<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @user.credit %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Driver ID</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>Service Type</th>
      <th>Payment Type</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @order_histories.each do |order| %>
      <tr>
        <td><%= order.try(:id) %></td>
        <td><%= order.user_id %></td>
        <td><%= order.driver_id %></td>
        <td><%= order.origin %></td>
        <td><%= order.destination %></td>
        <td><%= order.distance %></td>
        <td><%= order.service_type %></td>
        <td><%= order.payment_type %></td>
        <td><%= order.price %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>