<p id="notice"><%= notice %></p>

<h1>Confirm Order</h1>

<%= form_for @order, url: {action: 'create'} do |form| %>
  <div class="field">
    <p><b>User ID : </b><%= session[:user_id] %></p>
  </div>

  <fieldset>
    <% if @status && @driver %>
    <table>
      <tr valign="top">
        <td>
          <div class="field" style="border: 1px solid black; padding: 5px;">
            <p><b>Origin : </b></p>
            <p><%= @order.origin %></p>
            <p><b>Coordinate :</b></p>
            <p>Lat : <%# @origin[:lat] %></p>
            <p>Lng : <%# @origin[:lng] %></p>
          </div>
        </td>

        <td>
          <div class="field" style="border: 1px solid black; padding: 5px;">
            <p><b>Destination : </b></p>
            <p><%= @order.destination %></p>
            <p><b>Coordinate :</b></p>
            <p>Lat : <%# @destination[:lat] %></p>
            <p>Lng : <%# @destination[:lng] %></p>
          </div>
        </td>

        <td>
          <div class="field" style="border: 1px solid black; padding: 5px;">
            <p><b>Order Details : </b></p>
            <p><b>Service Type : </b><%= @order.service_type %></p>

            <p><b>Distance : </b><%= @order.distance %> m</p>

            <p><b>Price : </b><%= number_to_currency(@order.price, unit: "Rp. ", delimiter: ".", separator: ",") %></p>
          </div>
        </td>

        <td>
          <div class="field" style="border: 1px solid black; padding: 5px;">
            <% if @driver %>
              <p><b>Driver Information : </b></p>
              <p><b>ID : </b><%= @driver.id %></p>
              <p><b>Name : </b><%= @driver.full_name %></p>
              <p><b>Phone : </b><%= @driver.phone %></p>
            <% else %>
              <p>Your driver is unavailable at the moment</p>
            <% end %>
          </div>
        </td>
      </tr>
    </table>

      <div class="field">
        <%= form.label :payment_type %>
        <%= form.select(:payment_type, [['cash','cash'], ['gopay','gopay']]) %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

    <% elsif @status %>
      <p><b>Your Driver is Unavailable at The Moment</b></p>
      <%= link_to "New Order", new_order_path %>
      <br>

    <% else %>
      <p><b>Location is Invalid</b></p>
      <%= link_to "New Order", new_order_path %>
      <br>
    <% end %>

    <!-- THIS PART FOR MICROSERVICE ACTION TEST -->
      <div>
        <p>Test Area</p>
        <%= button_to 'Order', orders_micro_order_path, method: :micro_order %>
      </div>
    <!-- END OF THE PART -->

    <br>
  </fieldset>
<% end %>