<p id="notice"><%= notice %></p>

<h1>Confirm Order</h1>

<%= form_for @order, url: {action: 'micro_order'} do |form| %>
  <div class="field">
    <p><b>User ID : </b><%= session[:user_id] %></p>
  </div>

  <fieldset>
    <% if @status || @driver %>
    <table>
      <tr valign="top">
        <td width="200px">
          <div class="field" style="border: 1px solid black; padding: 5px;">
            <p><b>Origin : </b></p>
            <p><%= @order.origin %></p>

            <p><b>Destination : </b></p>
            <p><%= @order.destination %></p>
          </div>
        </td>

        <td>
          <div class="field" style="border: 1px solid black; padding: 5px;">
            <p><b>Order Details : </b></p>
            <p><b>Service Type : </b><%= @order.service_type %></p>

            <p><b>Distance : </b><%= @order.distance %> m</p>

            <p><b>Price : </b><%= number_to_currency(@order.price, unit: "Rp. ", delimiter: ".", separator: ",") %></p>
          </div>
        </td>
      </tr>
    </table>

      <div class="field">
        <%= form.label :payment_type %>
        <%= form.select(:payment_type, [['cash','cash'], ['gopay','gopay']]) %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% else %>
      <p><b>Location is Invalid</b></p>
      <%= link_to "New Order", new_order_path %>
      <br>
    <% end %>

    <br>
  </fieldset>
<% end %>