<p id="notice"><%= notice %></p>

<div class="panel panel-primary" style="width: 40%">
  <div class="panel-heading">
    <b>Confirm Order</b>
  </div>

  <div class="panel-body">
    <%= form_for @order, url: {action: 'create'} do |form| %>
      <% if @status || @driver %>
        <div class="form-group">
          <table class="table">
            <tr>
              <td><b>User ID : </b></td>
              <td><%= session[:user_id] %></td>
            </tr>

            <tr>
              <td><b>Origin : </b></td>
              <td><%= @order.origin %></td>
            </tr>

            <tr>
              <td><b>Destination : </b></td>
              <td><%= @order.destination %></td>
            </tr>

            <tr>
              <td><b>Service Type : </b></td>
              <td><%= @order.service_type %></td>
            </tr>

            <tr>
              <td><b>Distance : </b></td>
              <td><%= @order.distance %> km</td>
            </tr>

            <tr>
              <td><b>Price : </b></td>
              <td><%= number_to_currency(@order.price, unit: "Rp. ", delimiter: ".", separator: ",") %></td>
            </tr>
          </table>
        </div>

        <div class="field">
          <%= form.label :payment_type %>
          <%= form.select(:payment_type, [['cash','cash'], ['gopay','gopay']]) %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>

      <% else %>
        <p style="color: red;"><b>Location is Invalid</b></p>
        <%= link_to "New Order", new_order_path, class: 'btn btn-primary btn-sm' %>
      <% end %>
    <% end %>
  </div>

</div>