<h1>Confirm Order</h1>

<%= form_for @order, url: {action: 'create'} do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :order_user_id, :readonly   => true  %>
  </div>

  <% if @status %>
  <table>
    <tr valign="top">
      <td>
        <div class="field" style="border: 1px solid black; padding: 5px;">
          <p><b>Origin : </b></p>
          <p><%= @order.origin %></p>
          <p><b>Coordinate :</b></p>
          <p>Lat : <%= @origin[:lat] %></p>
          <p>Lng : <%= @origin[:lng] %></p>
        </div>
      </td>

      <td>
        <div class="field" style="border: 1px solid black; padding: 5px;">
          <p><b>Destination : </b></p>
          <p><%= @order.destination %></p>
          <p><b>Coordinate :</b></p>
          <p>Lat : <%= @destination[:lat] %></p>
          <p>Lng : <%= @destination[:lng] %></p>
        </div>
      </td>

      <td>
        <div class="field" style="border: 1px solid black; padding: 5px;">
          <p><b>Order Details : </b></p>
          <p><b>Service Type : </b><%= @order.service_type %></p>
          <p><b>Distance : </b><%= @order.distance %> m</p>
          <p><b>Price : </b><%= number_to_currency(@order.price, unit: "Rp. ", delimiter: ".", separator: ",") %></p>
        </div>
      </td>

      <td>
        <div class="field" style="border: 1px solid black; padding: 5px;">
          <p><b>Driver Information : </b></p>
          <p><b>ID : </b><%= @driver.id %></p>
          <p><b>Name : </b><%= @driver.full_name %></p>
          <p><b>Phone : </b><%= @driver.phone %></p>
        </div>
      </td>
    </tr>
  </table>

    <div class="field">
      <%= form.label :payment_type %>
      <%= form.select(:payment_type, [['cash','cash'], ['gopay','gopay']]) %>
    </div>

    <div>
      <%= hidden_field(:order, :driver_id, :value => @driver.id) %>
      <%= hidden_field(:order, :origin, :value => @order.origin) %>
      <%= hidden_field(:order, :destination, :value => @order.destination) %>
      <%= hidden_field(:order, :service_type, :value => @order.service_type) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% else %>
    <p><b>Location is Invalid</b></p>
    <%= link_to "New Order", new_order_path %>
    <br>
  <% end %>  

  <br>
<% end %>