<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :driver_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :driver_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'confirm:' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :driver_full_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :driver_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :driver_phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :driver_address %>
  </div>

  <div class="field">
    <%= form.label :service_type %>
    <%= form.select(:service_type, [['gojek','gojek'], ['gocar','gocar']]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
