<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <b>Drivers</b>
  </div>

  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Full name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Service Type</th>
          <th>Credit</th>
          <th colspan="4" width="10%">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @drivers.each do |driver| %>
          <tr>
            <td><%= driver.username %></td>
            <td><%= driver.full_name %></td>
            <td><%= driver.email %></td>
            <td><%= driver.phone %></td>
            <td><%= driver.address %></td>
            <td><%= driver.service_type %></td>
            <td><%= driver.credit %></td>
            <td><%= link_to 'Show', driver, class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Edit', edit_driver_path(driver), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Top Up', topup_driver_path(driver), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Driver', new_driver_path, class: 'btn btn-primary btn-sm' %>

  </div>
</div>
