<p id="notice"><%= notice %></p>

<% if @driver_location %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <b>Current Job</b>
    </div>

    <% if @order %>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>User ID</th>
              <th>Driver ID</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Distance</th>
              <th>Service Type</th>
              <th>Payment Type</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= @order.try(:id) %></td>
              <td><%= @order.try(:user_id) %></td>
              <td><%= @order.try(:driver_id) %></td>
              <td><%= @order.try(:origin) %></td>
              <td><%= @order.try(:destination) %></td>
              <td><%= @order.try(:distance) %></td>
              <td><%= @order.try(:service_type) %></td>
              <td><%= @order.try(:payment_type) %></td>
              <td><%= @order.try(:price) %></td>
              <td><%= @order.try(:status) %></td>
            </tr>
          </tbody>
        </table>

        <p>|
          <b>User name : </b><%= @user.try(:full_name) %> | 
          <b>Phone number : </b><%= @user.try(:phone) %> | 
        </p>
      </div>

      <div class="panel-footer">
        <div align="right">
          <%= form_with(model: @driver, local: true) do |form| %>
            <%= form.select(:status, [['completed','completed'], ['canceled','canceled']]) %>
            <%= form.submit 'Submit' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <b>Job History</b>
    </div>

    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Driver ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Distance</th>
            <th>Service Type</th>
            <th>Payment Type</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @finished_orders.each do |order| %>
            <tr>
              <td><%= order.try(:id) %></td>
              <td><%= order.try(:user_id) %></td>
              <td><%= order.try(:driver_id) %></td>
              <td><%= order.try(:origin) %></td>
              <td><%= order.try(:destination) %></td>
              <td><%= order.try(:distance) %></td>
              <td><%= order.try(:service_type) %></td>
              <td><%= order.try(:payment_type) %></td>
              <td><%= order.try(:price) %></td>
              <td>
                <% if order.try(:status) == 'completed' %>
                  <span class="label label-success"><%= order.try(:status) %><span>
                <% else %>
                  <span class="label label-danger"><%= order.try(:status) %><span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p><strong>Please set your location first</strong> <%= link_to 'Set Location', driver_locations_path %></p>
<% end %>