<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <b>My Driver Profile</b>
      </div>

      <div class="panel-body">
        <table class="table table-bordered">
          <tr>
            <td><strong>Username:</strong></td>
            <td><%= @driver.username %></td>
          </tr>
          <tr>
            <td><strong>Full name:</strong></td>
            <td><%= @driver.full_name %></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><%= @driver.email %></td>
          </tr>
          <tr>
            <td><strong>Phone:</strong></td>
            <td><%= @driver.phone %></td>
          </tr>
          <tr>
            <td><strong>Address:</strong></td>
            <td><%= @driver.address %></td>
          </tr>
          <tr>
            <td><strong>Service Type:</strong></td>
            <td><%= @driver.service_type %></td>
          </tr>
          <tr>
            <td><strong>Credit:</strong></td>
            <td><%= number_to_currency(@driver.credit, unit: "Rp. ", delimiter: ".", separator: ",") %></td>
          </tr>
        </table>
      </div>

      <div class="panel-footer" align="right">
        <%= link_to 'Edit', edit_driver_path(@driver), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Top Up', topup_driver_path(@driver), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Back', drivers_path, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <b>My Location Status</b>
      </div>

      <% if @driver_location %>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Driver_id</th>
                <th>Service Type</th>
                <th>Location</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Status</th>
                <th>Order_id</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @driver_location['driver_id'] %></td>
                <td><%= @driver_location['service_type'] %></td>
                <td><%= @driver_location['location'] %></td>
                <td><%= @driver_location['lat'] %></td>
                <td><%= @driver_location['lng'] %></td>
                <% if @driver_location['status'] == 'online' %>
                  <td><span class="label label-success"><b><%= @driver_location['status'] %></b></span></td>
                <% else %>
                  <td><span class="label label-danger"><b><%= @driver_location['status'] %></b></span></td>
                <% end %>
                <td><%= @driver_location['order_id'] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="panel panel-body">
          <p>Please set your location first</p>
        </div>
      <% end %>

      <% if @driver_location['status'] != 'busy' %>
        <div class="panel-footer">
          <%= link_to "Set My Location", new_driver_location_path, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>