<p id="notice"><%= notice %></p>

<div class="panel panel-primary" style="width: 40%">
  <div class="panel-heading">
    Topup Credit
  </div>

  <div class="panel-body">
    <p>
      <strong>Drivername:</strong>
      <%= @driver.username %>
    </p>

    <p>
      <strong>Current Credit : </strong>
      <%= number_to_currency(@driver.credit, unit: "Rp. ", delimiter: ".", separator: ",") %>
    </p>

    <%= form_for driver_path, method: :patch do |form| %>
      <div class="field">
        <p><strong>Top Up Amount : </strong></p>
        <p><%= text_field_tag :topup_amount, params[:topup_amount] %></p>
      </div>

      <div class="actions">
        <%= form.submit 'Top Up' %>
      </div>
    <% end %>
  </div>
</div>