<!DOCTYPE html>
<html>
  <head>
    <title>Go Ride App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <% if @logged_driver && @notification %>
      <div style="background-color: #ff4d4d; padding: 5px; border-radius: 5px; margin: 3px 0;">
        <div style="text-align: center; color: white">
          There is a new job for you! 
        </div>
      </div>
    <% end %>

    <div id="banner">
      <%= image_tag 'logo.jpg', alt: "Simplified Go Food" %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        
        <% if session[:user_id] && @logged_user %>
          <ul>
            <hr>
              <table width="100%">
                <tr>
                  <td colspan="2"><b>USER : </b></td>
                </tr>
                <tr>
                  <td align="left"><b>Full Name : </b></td>
                  <td align="right"><%= @logged_user.full_name %></td>
                </tr>
                <tr>
                  <td align="left"><b>Credit : </b></td>
                  <td align="right"><%= number_to_currency(@logged_user.credit, unit: "Rp. ", delimiter: ".", separator: ",") %></td>
                </tr>
              </table>
            <hr>
          </ul>
          <h5>Menu</h5>
          <ul>
            <li><a href="/home" class="btn btn-success btn-xs btn-block">Home</a></li>
            <li><%= link_to 'My Profile', user_path(session[:user_id]), class: 'btn btn-primary btn-xs btn-block' %></a></li>
            <li><%= link_to 'Order Go Ride', new_order_path, class: 'btn btn-primary btn-xs btn-block' %></li>
            <li> </li>
            <li><%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger btn-xs btn-block' %></li>
          </ul>

        <% elsif session[:driver_id] && @logged_driver %>
          <ul>
            <hr>
              <table width="100%">
                <tr>
                  <td colspan="2"><b>DRIVER : </b></td>
                </tr>
                <tr>
                  <td align="left"><b>Full Name : </b></td>
                  <td align="right"><%= @logged_driver.full_name %></td>
                </tr>
                <tr>
                  <td align="left"><b>Credit : </b></td>
                  <td align="right"><%= number_to_currency(@logged_driver.credit, unit: "Rp. ", delimiter: ".", separator: ",") %></td>
                </tr>
              </table>
            <hr>
          </ul>
          <h5>Menu</h5>
          <ul>
            <li><a href="/home" class="btn btn-success btn-xs btn-block">Home</a></li>
            <li><%= link_to 'My Profile', driver_path(session[:driver_id]), class: 'btn btn-primary btn-xs btn-block' %></li>
            <li><%= link_to 'My Jobs', job_driver_path(session[:driver_id]), class: 'btn btn-primary btn-xs btn-block' %></li>
            <li><%= link_to 'Set Location', driver_locations_path, class: 'btn btn-primary btn-xs btn-block' %></li>
            <li> </li>
            <li><%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger btn-xs btn-block' %></li>
          </ul>

        <% else %>
          <h5>Menu</h5>
          <ul>
            <li><a href="/home" class="btn btn-success btn-xs btn-block">Home</a></li>
            <li><a href="/login" class="btn btn-primary btn-xs btn-block">Login</a></li>
            <li><a href="/login_driver" class="btn btn-primary btn-xs btn-block">Login Driver</a></li>
          </ul>
        <% end %>

        <h5>All Models</h5>
        <ul>
          <li><a href="/users" class="btn btn-primary btn-xs btn-block">User</a></li>
          <li><a href="/drivers" class="btn btn-primary btn-xs btn-block">Driver</a></li>
          <li><a href="/orders" class="btn btn-primary btn-xs btn-block">Order</a></li>
        </ul>
      </div>

      <div id="main">
        <%= yield %>
      </div>

    </div>
  </body>
</html>