<!DOCTYPE html>
<html>
  <head>
    <title>Go Ride App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'logo.jpg', alt: "Simplified Go Food" %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <h4>Option</h4>
        
        <h4>Menu</h4>     
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/admin">Admin</a></li>          
        </ul>

        <h4>All Models</h4>
        <ul>
          <li><a href="/users">User</a></li>
          <li><a href="/drivers">Driver</a></li>
        </ul>
      </div>

      <div id="main">
        <%= yield %>
      </div>

      <div id="side">
      </div>
      
    </div>
  </body>
</html>